<!-- NOTE: The "z." in the name of this file is required so that it processes after "Sitecore.Analytics.config" and can replace the LookupProvider node 
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  GeoLiteCity Database Location
            Specifies path to MaxMind GeoLiteCity database.
            Default: ~/app_data/GeoLiteCity.dat
      -->
      <setting name="SharedSource.GeoLite.DatabaseLocation.GeoLiteCity" value="~/app_data/GeoLiteCity.dat" />

      <!--  No Location Text
            Text to be used in reports should an error occur during lookup.
            Default: Not Available
      -->
      <setting name="SharedSource.GeoLite.NoLocationText" value="Not Available" />
      
      <!--  Verbose Logging Switch
            If true, enables additional logging to help with troubleshooting
            Default: false
      -->
      <setting name="SharedSource.GeoLite.VerboseLogging" value="false" />

      
    </settings>

    <!--  Patch the LookupManager to add the geoLite Provider
      -->
    <lookupManager>
      <patch:attribute name="defaultProvider">geoLite</patch:attribute>
      <providers>
        <add patch:after="*[@type='Sitecore.Analytics.Lookups.MaxMindProvider,Sitecore.Analytics']" name="geoLite" type="SharedSource.GeoLite.LookupProvider.GeoLiteProvider,SharedSource.GeoLite"  />
      </providers>
    </lookupManager>

  </sitecore>
</configuration>